html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #16171b;
  min-height: 780px;
  position: relative;
}

/* 视频区 */
video {
  background: #16171b;
}

.moveable {
  z-index: 1000;
  cursor: move;
}


#remote_video_text{
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}

#remote_video_text::after{
  content: "";
  animation: dotdot 3s infinite;
}

@keyframes dotdot{
    0%,100%{content: "";}
    25%{content: "..";}
    50%{content: "....";}
    75%{content: "......";}
}

#remote_video {
  position: absolute;
  width: 60vw;
  height: auto;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
}


#local_video_moveable{
  position: fixed;
  top: 0;
  left: 0;
}

#local_video {
  width: 20vw;
  height: auto;
  border-radius: 10px;
  transform: scaleX(-1);
  background: #16171a;
}

#local_canvas {
  border-radius: 10px;
  transform: scaleX(-1);
  background: #16171a;
}

#local_video_text{
  z-index: 1001;
  position: absolute;
  color: white;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bold;
  background: rgba(0, 0, 0, 0.12);
  padding: 10px;
  border-radius: 5px;
}


/* 控制区 */
.controls_area {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 80px;
  border-radius: 10px;
  box-shadow: 9px 9px 16px #0a0b0c, -9px -9px 16px #222328;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 30px;
  gap: 30px;
}

.controls_item {
  text-align: center;
  cursor: pointer;
  color: gray;
  white-space: nowrap;
}
.controls_item > i {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.whiteboard {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
  display: block;
  margin: auto;
}

/* 聊天区 */
#chat {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 18vw;
}

.compose {
  width: calc(18vw - 20px);
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  border-radius: 20px;
  box-shadow: 6px 6px 12px #030506, -6px -6px 12px #292a30;
  margin: 20px;
  box-sizing: border-box;
  padding: 16px;
  background: #1c1d22;
  overflow-x: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.compose input {
  font-size: 0.8rem;
  border: none;
  width: 100%;
  height: calc(100% - 5px);
  resize: none;
  outline: none;
  background-color: inherit;
  color: white;
}

.compose input::placeholder {
  color: white;
  font-size: 0.8rem;
}

#chat-zone {
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 80px;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  right: 0;
  width: 18vw;
  overflow: scroll;
  font-size: 0.8rem;
}

#chat-zone::-webkit-scrollbar {
  width: 0 !important;
}

.message_item {
  display: flex;
  margin-bottom: 15px;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
}

.message_self {
  justify-content: flex-end;
  padding-left: 40px;
}

.message_peer{
  padding-right: 40px;
}

.message_self .message{
  word-break: break-all;
  background-color: rgb(47, 48, 52);
  color: #fff;
  border-radius: 20px 20px 5px 20px;
  box-shadow: 6px 6px 12px #030506, -6px -6px 12px #22232a;
  padding: 12px;
}

.message_peer .message{
  word-break: break-all;
  background-color: rgb(47, 48, 52);
  color: #fff;
  border-radius: 20px 20px 20px 5px;
  box-shadow: 6px 6px 12px #030506, -6px -6px 12px #22232a;
  padding: 12px;
}

.message a {
  text-decoration: underline;
  color: cornflowerblue;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    opacity: 1;
  }
}

.custom_snackbar{
  box-shadow: 9px 9px 16px #0a0b0c, -9px -9px 16px #222328;
}

.custom_snackbar p{
  font-weight: 500 !important;
}

.custom_snackbar button{
  font-weight: 500 !important;
}

#maskImg{
  position: absolute;
  top: -130px;
  right: 50px;
}

.fa-file-upload{
  font-size: 1.5rem;
  color: gray;
  position: absolute;
  right: 25px;
  top: 18px;
}


@media(min-width:640px){
  .fa-paper-plane{
    display: none !important;
  }

  .fa-times{
    display: none !important;
  }
}

@media (max-width: 640px) {
  html,
  body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    min-height: auto;
  }

  #remote_video {
    width: 100vw;
    height: auto;
    border-radius: 10px;
  }

  #local_video {
    width: 30vw;
    height: auto;
    border-radius: 10px;
    transform: scaleX(-1);
    background: #16171a;
  }

  .controls_area{
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    height: 125px;
    bottom: 0;
    box-sizing:border-box;
    padding: 15px;
  }

  .controls_item{
    font-size: 0.75em;
    width: 20vw;
  }

  .controls_item > i {
    font-size: 1rem;
  }

  #chat {
    height: 100%;
    width: 100vw;
  }

  #chat-zone{
    width: 100vw;
  }

  .compose {
    width: 100vw;
    margin: 0;
  }

  .fa-paper-plane{
    font-size: 1.5rem;
    color: gray;
    position: absolute;
    right: 70px;
    top: 18px;
  }

  .fa-times{
    font-size: 1.5rem;
    color: gray;
    position: absolute;
    right: 10px;
    top: 18px;
  }

  .fa-file-upload{
    right: 35px;
  }

  .snackbar-container .action{
    white-space: nowrap;
  }

  .hide_on_mobile{
    display: none;
  }
}